<% content_for :title, "New resource group" %>

<h1>New resource group</h1>

<%= render "form", resource_group: @resource_group %>

<br>

<div>
  <%= link_to "Back to resource groups", admin_resource_groups_path %>
</div>
